 .modal {
     min-width: 250px;
     min-height: 400px;
    background-color: #d37994;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     border: 3px solid $soclinks-bg-color;
     border-radius: 24px;
     overflow: hidden;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

    @media screen and (min-width: 320px) {
            width: 250px;
            height: 400px;
        }
  @media screen and (min-width: 480px) {
      width: 450px;
      height: 600px;
  }

    @media screen and (min-width: 768px) {
         width: 550px;
        height: 600px;}

    @media screen and (min-width: 1200px) {
         width: 600px;
         height: 600px;
        
}
 }
 .backdrop {
 position: fixed;
 top: 0;
left: 0;
width: 100%;
height: 100%;
 background: rgba(0, 0, 0, 0.2);
 opacity: 1;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);    
      
 }     
    
.modal__btn {

    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
            fill: $color-accent-btn-tel;
            background-color: $soclinks-bg-color;
        }
} 
   
.modal__close {
    display: block;
    align-items: center;

    &:focus,
    &:hover {
            fill: $color-accent-btn-tel;
        }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}



//Модальное окно Франшиза

.modal__franchise {
   
min-width: 250px;
min-height: 400px;
background-color: $soclinks-bg-color;
border-radius: 24px;

@media screen and (min-width: 320px) {
        width: 250px;
        height: 400px;
}



@media screen and (min-width: 768px) {
    width: 450px;
    height: 600px;
}  

position: absolute;
 top: 50%; left: 50%;
transform: translate(-50%, -50%);
}




.backdrop__franchise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    
}
     

.modal__btnsecond {

    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        fill: $color-accent-btn-tel;
        background-color: $soclinks-bg-color;
    }
}

.modal__closesecond {
    display: block;
    align-items: center;

     &:focus,
     &:hover {
        fill: $color-accent-btn-tel;
    }
 }

.modal__feedtext {
    text-align: center;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    margin-top: 50px;
    margin-bottom: 40px;
    color: #d41342;   
        
    @media screen and (min-width: 320px) {
    width: 140px;
 }

  @media screen and (min-width: 768px) {
      width: 300px;
      margin-bottom: 65px;
      margin-top: 65px;
    font-size: 18px;
  }   
}

 .modal-form__inputsvg {
    margin-bottom: 20px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
              
    color: #d41342;

@media screen and (min-width: 768px) {
    margin-bottom: 40px;}
}

.modal-form__input {
border: none;
border-radius: 22px;
padding: 6px;
background-color: $general-bg-color;
@media screen and (min-width: 768px) {
padding: 10px;
 }
}

 .modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.modal-form__submit {
   
display: flex;
 align-items: center;
justify-content: center;
    
width: 100%;
height: 24px;
    
margin-left: auto;
margin-right: auto;
    
border-color: transparent;
border-radius: 22px;
margin-top: 40px;
    
color: $button-color;
background-color: $button-bg-accent;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.31;

    
    
@media screen and (min-width: 320px) {
    width: 100px;
    min-height: 100%;
}
@media screen and (min-width: 768px) {
    margin-top: 60px;              
}
}

.backdrop__franchise.is-hidden {
    opacity: 0;
    pointer-events: none;
}
    
.backdrop__franchise.is-hidden .modal__franchise {
  transform: translate(-50%, -50%) scale(0.9);
}